
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Heardle</title>
  <meta name="description" content="Guess the song from the intro in as few tries as possible.">
  <meta itemprop="name" content="Heardle - That daily song intros game">
  <meta itemprop="description" content="Guess the song from the intro in as few tries as possible.">
  <meta itemprop="image" content="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <meta property="og:url" content="https://test-heardle-alundis.glitch.me/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Alu Heardle">
  <meta property="og:description" content="Guess the song from the intro in as few tries as possible.">
  <meta property="og:image" content="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Heardle">
  <meta name="twitter:description" content="Guess the song from the intro in as few tries as possible.">
  <meta name="twitter:image" content="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  
	<link rel="icon" type="image/png" href="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <link rel="shortcut icon" href="https://cdn.glitch.global/4b502aeb-edac-45f6-904f-0ed34db66cf1/wingull?v=1664849630582">
  <link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/bundle.css">

  <script defer src="/decoyAnswers.js"></script>
	<script defer src="/songs.js"></script>
	<script defer src="/main.js"></script>
</head>

<body>
<!--   <div id="ribbon" data-line-height="2.5">
    <a href="https://glitch.com/edit/#!/test-heardle-alundis">Remix on Glitch</a>
  </div>
  <script src="https://ribbon.glitch.me/ribbon.js"></script> -->
</body>
</html>